@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tarmontie 5<br />
    15700 LAHTI<br />
    <abbr title="Phone">P:</abbr>
    03 458 7825
</address>

<address>
    <strong>Tuki:</strong>   <a href="mailto:Support@kahvitauko.fi">Support@kahvitauko.fi</a><br />
    <strong>Myynti:</strong> <a href="mailto:myynti@kahvitauko.fi">Myynti@kahvitauko.fi</a>
</address>