@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

@*JQuery, joka suoritetaan aina, kun sivu latautuu*@
@section scripts {
    <script type="text/javascript">
        $(window).on('load', function () {
            if (@ViewBag.LoginError == 1) {
            $('#loginmodal').modal('show');
            }
        });
    </script>
}

<div class="jumbotron">
    <h1>Kahvitauko</h1>
    <p class="lead">Tilaa työpäivän parhaat kahvit täältä!</p>
</div> @*jumbotron-divin loppu*@

@*_LoginModal partial view renderöidään tähän*@
@{ 
    Html.RenderPartial("_LoginModal");
}
