<div class="modal" id="myyntimodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Myydyimmät tuotteet TOP 10</h1>
            </div> @*div modal-headerin loppu*@
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8">
                            <canvas id="myydyimmat"></canvas>
                        </div>
                    </div>@*row*@
                </div>@*container-fluid*@
            </div> @*div modal-bodyn loppu*@
            <div class="modal-footer">
                <div>
                    <button class="btn btn-primary" data-dismiss="modal"><i class="fas fa-times"></i></button>
                </div>
            </div> @*div modal-footerin loppu*@
        </div> @*div modal-contentin loppu*@
    </div> @*div modal-dialogin loppu*@
</div> @*loginmodal-divin loppu*@

